@model List<ResultFooterAddressDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">İletişim ve Footer Alanı Adres Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfadaki İletişim alanında bulunan bilgileri bu sayfadan düzenleyebilirsiniz. Harita bilgisini lokasyon değeri olarak Google Maps üzerinden alabilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <th>@item.Address</th>
                                            <th>@item.Phone</th>
                                            <th>@item.Email</th>
                                            <th>@item.Description</th>
                                            <th><a href="/Admin/AdminFooterAddress/RemoveFooterAddress/@item.FooterAddressID" class="btn btn-outline-danger">Sil</a></th>
                                            <th><a href="/Admin/AdminFooterAddress/UpdateFooterAddress/@item.FooterAddressID" class="btn btn-outline-success">Güncelle</a></th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminFooterAddress/CreateFooterAddress/" class="btn btn-outline-primary">Yeni Adres Girişi</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>